#cert_content {
  height: 500px;
  width: 704.5px;
}

#personDate {
  font-size: 1.1em;
  position: absolute;
  left: 168px;
  top: 337px;
}

#certGenImg {
  display: block;
  margin: 0 auto;
}

#cert-img {
  position: relative;
}

#cert_text {
  text-align: center;
  position: relative;
  top: 220px;
  left: 0px;
  line-height: normal;
}

#certTextGift {
  top: 220px;
  position: relative;
  /* left: 101px; */
  text-align: center;
}

#personTrees {
  font-size: 1.3em;
}

#personName {
  position: relative;
  display: block;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25em;
  top: 220px;
  text-underline-position: under;
  text-decoration: underline #ffffff;
}

#giftFromName {
  text-transform: uppercase;
}
