.app {
  position: relative;
  width: 100%;
  margin: auto auto;

  box-shadow: 5px 5px 20px 0 rgba(20, 20, 20, 0.09);
  border-radius: 12px;

  .header {
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #e8ecfd;
    background: linear-gradient(
      90deg,
      rgba(121, 150, 125, 1) 14%,
      rgba(87, 127, 103, 1) 49%
    );
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &__icon {
      max-width: 50px;
      height: auto;
      opacity: 0.7;
    }

    &__title {
      margin-left: auto;
      font-size: 25px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 4.5px;

      span {
        display: block;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.5px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    height: 500px;
    padding: 20px 0 40px;
    overflow-y: scroll;
    box-shadow: none !important;

    &__person {
      display: flex;
      // min-height: 80px;
      align-items: center;
      padding: 10px 35px;
      margin: 0.5vh 1vw;
      border-radius: 4px;
      box-shadow: 0px 2px 18px 7px rgba(189, 189, 189, 0.21);
      transition: all 0.25s linear;
      cursor: default;
      animation: fadeIn 0.5s 0.1s both;
      justify-content: space-around;

      p {
        margin-bottom: 0rem;
      }

      .person__image {
        position: relative;
        max-width: 60px;
        height: auto;
        border: 10px solid #f5f6fa;
        border-radius: 50%;
      }

      .timeDate {
        display: block;
        font-size: 0.7rem;
        text-align: center;
      }

      .person__text {
        display: block;
        margin: 0 auto;
        text-align: center;
      }

      .person__name {
        text-align: center;
        font-size: 18px;
        font-weight: 600;
        color: #000000;
      }

      .person__networth {
        // margin-left: auto;
        font-size: 2rem;
        // font-weight: 700;
        // color: #4cd5af;

        span {
          font-size: 15px;
        }
      }

      &:hover {
        transform: scale(1.05);
      }
    }

    &::-webkit-scrollbar {
      width: 12px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background-color: #fefefe;
      border-radius: 12px;
    }

    &::-webkit-scrollbar-thumb {
      height: 68px;
      border-radius: 14px;
      background-color: #f1f2f6;
      cursor: pointer;
    }
  }

  .loading-indicator {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    left: 0;
    right: 0;
  }
}

@media screen and (max-width: 430px) {
  .app {
    max-width: 320px;

    .list__person {
      padding: 4px 12px;

      .person__image {
        max-width: 56px;
        border-width: 4px;
      }

      .person__name {
        font-size: 16px;
      }

      .person__networth {
        font-size: 2rem;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}

#uncontrolled-tab-example-tab-recent {
  width: 50%;
  text-align: center;
  outline: none;
  color: black;
}

#uncontrolled-tab-example-tab-most {
  width: 50%;
  text-align: center;
  outline: none;
  color: black;
}
